<div class="m-3">
  <div class="text-end">
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link active" aria-current="page" data-bs-target="#home-tab-pane"><strong>Detalle de la Orden
            Recibida: 001</strong></a>
      </li>

      <!-- <li class="nav-item">
        <button class=" ms-3 btn btn-secondary" [routerLink]="'/entradas/orden-nueva'">Grabar</button>
      </li> -->

    </ul>
  </div>

  <!-- tab 1 -->
  <div class="contenido-pestaña">

    <div class="d-flex" style="background-color:white">
      <div class="flex-grow-1 pe-2">

        <div class="d-flex">
          <div class="flex-grow-1">
            <div class="p-2" style="background-color: white; border-left: 1px solid #dee2e6">
              <div class="row g-3 pt-3">
                <div class="col-md-8">

                  <div style="max-width: 5000px">
                    <!-- <label for="inputEmail4" class="form-label">Proveedor</label> -->
                    <div class="row">
                      <div class="col-sm-10 col-form-label">

                        Proveedor: <strong>{{orden.proveedor.nombre | titlecase}}</strong>
                      </div>

                    </div>
                  </div>
                </div>
                <div class="col-4" (click)="'/'">
                  <label for="inputAddress" class="form-label clickable"
                    [routerLink]="'/entradas/orden-detalle/2'">[Orden de
                    compra: </label> <strong> 2</strong>]
                  <!-- <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St"> -->
                </div>
                <div class="col-4">
                  <label for="inputAddress" class="form-label">Domicilio: </label> <strong>
                    {{orden.proveedor?.domicilio}}</strong>
                  <!-- <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St"> -->
                </div>
                <div class="col-4">
                  <label for="inputAddress2" class="form-label">Telefono:</label><strong>
                    {{orden.proveedor?.telefono}}</strong>
                  <!-- <input type="text" class="form-control" id="inputAddress2" placeholder="Apartment, studio, or floor"> -->
                </div>
                <div class="col-md-4">
                  <label for="inputCity" class="form-label">Ciudad: </label> <strong>
                    {{orden.proveedor?.ciudad}}</strong>
                  <!-- <input type="text" class="form-control" id="inputCity"> -->
                </div>
                <div class="col-md-4">
                  <label for="inputState" class="form-label">Estado: </label> <strong>
                    {{orden.proveedor?.ciudad}}</strong>
                  <!-- <select id="inputState" class="form-select">
                    <option selected>Choose...</option>
                    <option>...</option>
                  </select> -->
                </div>
                <div class="col-md-4">
                  <label for="inputZip" class="form-label">C. P.: </label> <strong> {{orden.proveedor?.cp}}</strong>
                  <!-- <input type="text" class="form-control" id="inputZip"> -->
                </div>
                <div class="col-md-3">
                  <div class="dropdown">
                    Estatus: <button class="btn btn-warning dropdown-toggle btn-sm" type="button"
                      id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                      Orden en Camino
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                      <li><a class="dropdown-item"> Orden Nueva</a></li>
                      <li><a class="dropdown-item"> Orden en Camino</a></li>
                      <li><a class="dropdown-item"> Orden en Recibida</a></li>
                    </ul>
                  </div>
                </div>



              </div>

            </div>

          </div>
          <div>
            <div class="text-end mt-2"
              style="display: block; position: relative; top: 1px; right: 1px;  min-width:200px;  ">
              <div class="text-center">Fecha: <strong>04-Abr-2024</strong></div>
              <div class="text-center" style="padding: 10px; color: black; background-color:#d7c796">
                <h3>{{orden.total | currency}}</h3>
              </div>
              <div
                style="font-size: 12px; font-weight: bold; text-align: center; background-color: gray; color: white;">
                TOTAL</div>
            </div>
            <div class="mt-2 mb-2">
              <!-- <button class="btn btn-verde" [disabled]="!orden.proveedor"><i class="bi bi-filetype-pdf"></i> Generar PDF </button> -->
              <button *ngIf="isEditing" class="btn btn-guinda" (click)="onSave()"><i class="bi bi-floppy2-fill"></i>
                Grabar
                Orden Recibida</button>
              <div *ngIf="!isEditing" class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1"
                  data-bs-toggle="dropdown" aria-expanded="false">
                  Opciones
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                  <li><a class="dropdown-item"><i class="bi bi-filetype-pdf"></i> Generar PDF</a></li>
                  <!-- <li><a class="dropdown-item"><i class="bi bi-floppy2-fill"></i> Grabar</a></li> -->
                  <li><a class="dropdown-item" (click)="onEditar()"><i class="bi bi-pencil-square"></i> Dar Entrada</a>
                    <li><a class="dropdown-item" [routerLink]="['/entradas/devoluciones']"><i class="bi bi-arrow-return-left"></i> Devoluciones</a>
                  </li>
                </ul>
              </div>

            </div>
          </div>
        </div>

        <div>

          <table class="table table-striped table-bordered table-hover tbl-data">
            <thead>
              <tr>
                <th scope="col">sku</th>
                <th scope="col">Producto</th>
                <th scope="col">Unidad</th>
                <th scope="col">Cantidad</th>
                <th scope="col" style="text-align: right;">Precio</th>
                <th scope="col" style="text-align: right;">Total</th>
              </tr>
            </thead>
            <tbody>

              <tr class="clickable" *ngFor="let item of orden.items" (click)="onEditProduct(item.id)">
                <td scope="row">{{item.id}}</td>
                <td>{{item.nombre}}</td>
                <td>{{item.unidad.nombre}}</td>
                <td class="text-center">{{item.cantidad}}</td>
                <td style="text-align: right;">{{item.precio | currency}} </td>
                <td style="text-align: right;">{{item.total | currency}} </td>
              </tr>
              <tr>
                <td colspan="5" class="text-end">Total:</td>
                <td class="text-end"><strong>{{orden.total | currency}}</strong></td>
              </tr>




            </tbody>
          </table>

        </div>


      </div>
      <!-- NOTAS -->
      <div class="p-2" style="width: 370px; border-left: 1px solid #dee2e6">
        <h2>Notas</h2>
        <hr>
        <div class=" text-end mb-3"><button class="btn btn-verde btn-sm" data-bs-toggle="collapse"
            data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample"><i
              class="bi bi-plus-circle"></i> Agregar</button></div>

        <div class="collapse" id="collapseExample">
          <div class="card card-body">
            <textarea name="" id="" cols="30" rows="5">


            </textarea>
            <div class=" text-end mt-2 mb-3"><button class="btn btn-guinda btn-sm" data-bs-toggle="collapse"
                data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample"><i
                  class="bi bi-x-circle"></i> cancelar</button>
              <button class="btn btn-verde btn-sm ms-2" data-bs-toggle="collapse" data-bs-target="#collapseExample"
                aria-expanded="false" aria-controls="collapseExample"><i class="bi bi-floppy2-fill"></i> Grabar</button>
            </div>

          </div>
        </div>
        <div class="mt-3">
          <div class="ms-2" style="font-size: small">
            <strong>04-sep-24 14:25:00</strong><br>
          </div>
          <div class="p-2 mb-1"
            style="font-size: small; border-bottom: 1px solid #d9dddf; border-top: 1px solid #d9dddf;">
            Nota para entregar inmediatamente
          </div>
          <div class="text-end me-2" style="font-size: small"><i> por: Agustin Ledesma</i></div>
        </div>

        <div class="mt-3">
          <div class="ms-2" style="font-size: small">
            <strong>04-sep-24 14:25:00</strong><br>
          </div>
          <div class="p-2 mb-1"
            style="font-size: small; border-bottom: 1px solid #d9dddf; border-top: 1px solid #d9dddf;">
            Nota de prueba
          </div>
          <div class="text-end me-2" style="font-size: small"><i> por: Agustin Ledesma</i></div>
        </div>
      </div>
    </div>

    <div class="text-center mt-5">
      <!-- <img src="/assets/procesos/procesoOrdenes.png" alt="" srcset=""> -->
    </div>



  </div>





</div>




<nav class="navbar fixed-bottom navbar-light  ps-2" [ngStyle]="{height: bottomBarSize}"
  style="height: 100px; border-top:2px solid #808080 ;background-color: #d9dadf;">
  <i class="arrow-up" *ngIf="!isMaximized" style="position: absolute; top:-1px; left: 50dvw;"> </i>
  <i class="arrow-down" *ngIf="isMaximized" (click)="minimize()" style="position: absolute; top:-1px; left: 50dvw;">
  </i>
  <table style="width: 100%; ">
    <tr>
      <td class="pb-2"><input type="text" placeholder="SKU, nombre de producto" name="" id="" style="width:100%"></td>
      <td class="pb-2" style="width:85px"><button class="btn btn-secondary btn-sm">Buscar <i
            class="bi bi-search"></i></button></td>
    </tr>
  </table>
  <div style="width:100%">

    <div class="d-flex tbl-data mt-3 ps-2">
      <div style="width: 250px">
        <!-- <h4>Filtros</h4>
        <hr> -->
        <strong>Precio</strong>
        <div class=" mt-2">
          <input style="width:80px" type="number" name="" id="">- <input style="width:80px" type="number" name="" id="">
        </div>
        <div class="mt-2">
          <strong> Inventario</strong>
          <div class="mt-2"><span class="bg-danger text-light p-1">Por debajo del Minimo</span> : <input type="checkbox"
              id="cbox1" value="first_checkbox" /></div>
          <div class="mt-2"><span class="bg-warning p-1">Cercas del Minimo </span> : <input type="checkbox" id="cbox1"
              value="first_checkbox" /></div>
          <!-- <div class="mt-2">Normal: <input type="checkbox" id="cbox1" value="first_checkbox" /></div> -->
          <div class="mt-2 clickable" style="color: blue">[ Todos ] </div>

        </div>

      </div>
      <div class="flex-grow-1 ">
        <div style="overflow-y: scroll; width: 100%; height:26dvh">
          <table class="table table-striped table-bordered table-hover tbl-data tbl-verde" style="width: 100%">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Producto</th>
                <th scope="col">Unidad</th>
                <th scope="col">Precio</th>
                <th class="text-center">Existencia</th>
              </tr>
            </thead>
            <tbody>
              <!-- <tr (dblclick)="onEditProduct()" *ngFor="let item of items">
            <td scope="row">1</td><td>{{item.nombre}}</td><td>{{item.unidad.nombre}}</td>
            <td  style="text-align: right;">{{item.precio}} </td>
            <td class="text-center" [ngClass]="{'bg-danger text-light': item.existencia<1, 'bg-warning': item.existencia<40}">{{item.existencia}}</td>
          </tr> -->





            </tbody>
          </table>
        </div>

      </div>
    </div>

  </div>

</nav>
