<div class="mt-3 ms-3 me-3">
  <div >
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="#">Movimientos</a>
      </li>
      <li class="nav-item">
        <button class=" ms-3 btn btn-verde" [routerLink]="'/almacenes/movimiento-nuevo'">Movimiento Nuevo +</button>
      </li>

    </ul>



    <table class="table table-responsive table-striped table-hover tbl-data">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Fecha</th>
          <th scope="col">Almacen Origen</th>
          <th scope="col">Almacen Destino</th>
          <th>Empleado</th>
          <th scope="col">Items</th>
          <th scope="col">Estatus</th>
          <!-- <th scope="col">Total</th> -->
        </tr>
      </thead>
      <tbody>

        <tr class="clickable" *ngFor="let orden of listaMovimientos" [routerLink]="['/almacenes/movimiento-detalle',orden.id]">
          <td scope="row" >{{orden.id}}</td>
          <td scope="row" >{{orden.fecha}}</td>
          <td >{{orden.almacenOrigen.nombre|titlecase}}</td>
          <td >{{orden.almacenDestino.nombre|titlecase}}</td>
          <td>{{orden.empleado}}</td>
          <td>{{orden.items.length}}</td>
          <td>{{orden.status}}</td>
          <!-- <td>{{orden.total| currency}}</td> -->
        </tr>


      </tbody>

    </table>
  </div>


</div>
