/* You can add global styles to this file, and also import other style files */
@import "~bootstrap-icons/font/bootstrap-icons.css";


body{
  background-color: #f3f4f7;
  /* box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset; */
  min-width: 500px
}
.clickable{
  cursor: pointer;
}

.round-bar-beige{
  /* background: linear-gradient(180deg, rgba(217,205,186,1) 35%, rgba(199,168,118,1) 100%); */
  color:black;
}
.bg-gris{
  background-color: #d9dadf;
}
.arrow-up{
  width: 39px;
  height: 12px;
  background-image: url('/assets/buttons/arrow_up.png');
  cursor: pointer
}
.arrow-down{
  width: 39px;
  height: 12px;
  background-image: url('/assets/buttons/arrow_down.png');
  cursor: pointer
}

 th{

  background-color: #631231;
}
.tbl-data{
  font: normal 12px / 13px tahoma, arial, verdana, sans-serif;

}
.table>:not(caption)>*>th {

  background-color: #631231;
  color: white;
}
.tbl-verde>:not(caption)>*>th {

  background-color: #205b4f;
  color: white;
}

.btn-guinda{
  background-color: #631231;
  color: white
}
.btn-guinda:hover{
  background-color: #740c34;
  color: white
}

.btn-verde{
  background-color: #205b4f;
  color: white
}
.btn-verde:hover{
  background-color: #388677;
  color: white
}

.btn-end-right{
  position: relative;
  top: 8px;
  right: 23px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}


.bg-rojo-light{
  background-color: #ffaeb6;
  color: black
}
.bg-amarillo-light{
  background-color: #ffe28d;
  color: black
}
